[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=Leslie
Group=Leslie
# cd app/ -> cd src/ -> pwd
WorkingDirectory=/Users/lsc/Sites/my-fastapi-app/app/src
# cd venv/ -> cd bin/ -> pwd
Environment="PATH=/Users/lsc/Sites/my-fastapi-app/venv/bin"
ExecStart=/Users/lsc/Sites/my-fastapi-app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target